name: Python Package Publish

on:
  push:
    tags:
      - "v*"
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: |
          uv run ruff check
          uv run --python 3.10 pytest
          uv run --python 3.11 pytest
          uv run --python 3.12 pytest

      - name: Build distribution
        run: |
          uv build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/v')
        run: uv publish
